In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#Store the CSV you saved created din n ppart one into a DataFrame
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Soyo,AO,2021-10-23 16:53:36,-6.1349,12.3689,82.45,79,83,9.71
1,1,Bengkulu,ID,2021-10-23 16:49:22,-3.8004,102.2655,75.97,91,64,4.36
2,2,Amazar,RU,2021-10-23 16:53:36,53.8580,120.8750,31.77,87,6,1.52
3,3,Thompson,CA,2021-10-23 16:50:25,55.7435,-97.8558,32.16,86,90,0.00
4,4,Haines Junction,CA,2021-10-23 16:53:37,60.7522,-137.5108,22.95,93,100,2.30

In [3]:
#Get the data types of the data frame
#Google gmaps only likes integer or floating point
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Heatmap for maximum temperature outline
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#Using list comprehension
#[max(temp,0)for temp in max_temp]

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Heatmap of percent humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Heatmap of percent cloudiness
locations=city_data_df[["Lat","Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Heatmap of Wind Speed
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Soyo,AO,2021-10-23 16:53:36,-6.1349,12.3689,82.45,79,83,9.71
1,1,Bengkulu,ID,2021-10-23 16:49:22,-3.8004,102.2655,75.97,91,64,4.36
6,6,Bambous Virieux,MU,2021-10-23 16:53:38,-20.3428,57.7575,75.45,78,75,12.66
21,21,Kapaa,US,2021-10-23 16:49:13,22.0752,-159.3190,75.52,84,20,14.97
28,28,Puerto Ayora,EC,2021-10-23 16:49:42,-0.7393,-90.3518,75.16,79,92,9.95
29,29,Souillac,MU,2021-10-23 16:53:44,-20.5167,57.5167,75.58,78,75,12.66
30,30,Hithadhoo,MV,2021-10-23 16:53:45,-0.6000,73.0833,82.35,74,100,11.23
33,33,Hambantota,LK,2021-10-23 16:53:45,6.1241,81.1185,79.83,77,14,13.00
40,40,San Patricio,US,2021-10-23 16:51:33,28.0170,-97.5169,84.92,58,98,11.34
41,41,Atuona,PF,2021-10-23 16:49:33,-9.8000,-139.0333,77.99,77,18,18.19

In [19]:
preferred_cities_df.count()

City_ID       142
City          142
Country       142
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [23]:
#Create a dataframe called hotel_df to store hotel names along with city,country, max temp, lat and long coordinates
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0              Soyo      AO     82.45  -6.1349   12.3689
1          Bengkulu      ID     75.97  -3.8004  102.2655
6   Bambous Virieux      MU     75.45 -20.3428   57.7575
21            Kapaa      US     75.52  22.0752 -159.3190
28     Puerto Ayora      EC     75.16  -0.7393  -90.3518
29         Souillac      MU     75.58 -20.5167   57.5167
30        Hithadhoo      MV     82.35  -0.6000   73.0833
33       Hambantota      LK     79.83   6.1241   81.1185
40     San Patricio      US     84.92  28.0170  -97.5169
41           Atuona      PF     77.99  -9.8000 -139.0333

In [24]:
#Set parameters to search for a hotel
params={"radius":5000,
       "type":"lodging",
       "key":g_key}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Soyo,AO,82.45,-6.1349,12.3689,Hotel Mpampa
1,Bengkulu,ID,75.97,-3.8004,102.2655,Grage Hotel Bengkulu
6,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
21,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
30,Hithadhoo,MV,82.35,-0.6000,73.0833,Scoop Guest House
33,Hambantota,LK,79.83,6.1241,81.1185,Bungalow 63
40,San Patricio,US,84.92,28.0170,-97.5169,"Motel 6 Sinton, TX"
41,Atuona,PF,77.99,-9.8000,-139.0333,Villa Enata

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))